@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /*Permite deslizar al hacer click en link de menu */
    scroll-behavior: smooth;
}

/*M E N U*/
.header-container {
    background:#EFF2F4;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-container header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header-container header .logo a {
    font-family: 'Righteous';
    font-size: 45px;
    color: #B03d56;
    text-decoration: none;
}

.header-container header ul {
    display: flex;
    list-style: none;
}

.header-container header nav ul li a {
    text-align: none;
    color: #000000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.header-container header nav ul li a:hover {
    color: #B03d56;
}

.nav-responsive {
    background-color: #B03d56;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*Begin Section */
.begin{
    background: linear-gradient(to top, rgba(214, 227, 235, 0.8),rgb(255, 255, 255)),url(/img/Fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #000000;
    display: flex;
    align-items: center;
}
.begin .container-banner{
    padding: 35px;
    background-color: #eff2f4;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
 .begin .container-banner img{
margin-top: 40px;
display: block;
width: 80%;
margin: auto;
} 
.begin .container-banner h1{
    margin-top: 40px;
    font-size: 40px;
    font-family: "Righteous";
}
.begin .container-banner h2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
    }
.begin .container-banner .net a{
    color: #000000;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 100%;
    height: 42px;
    width:42px;
    line-height: 42px;
    margin: 20px 5px 0px;
    font-size: 20px;
    transition: .3s;
}
.begin .container-banner .net a:hover{
    background-color: #B03d56;
}